@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body{
    font-family: 'Questrial', sans-serif;
}

.img-responsive {
    max-width: 100%;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: #fff;
}
aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #C2185B;
}

.btn-primary{
    background-color: #C2185B;
    border-color: #C2185B;
}

main.login {
    width: 400px;
}

section.full{
    width: 100%;
    min-height: 80vh;
    padding: 50px 0;
}

article.evento {
    width: 350px;
}

footer nav ul{
    list-style: none;
    display: flex;
}

footer nav ul li  {
    padding: 10px;
}

.container-evento {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}



/* RESPONSIVIDADE */

@media (max-width: 1000px) {
   
    .card {
        display: flex;
        min-width: 250px;
        word-wrap: normal;
    }
    #imagem-banda {
        display: none;
    }
    .col {
        display: flex;
        flex-wrap: wrap;
        min-width: 100vw;
        min-height: auto;
    }
    section.full {
        min-height: auto;
    }
    
}


/* Carrossel */

.carousel-article {
    background-color: #808080;
    background-image: url(../img/articles-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    max-width: 750px;
    color: #FAFAFA;
    text-shadow: 1px 1px 1px rgba(0, 0 , 0, .3);
    position: relative;
}

.carousel-article h2 {
    font-size: 2.5rem;
}

.carousel-article h3 {
    font-size: 1.2rem;
}

.carousel-article h4 {
    font-size: 1.5rem;
}

.carousel-footer {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

}
.carousel-article p {
    font-size: 1rem;
}